<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/output.css" />
    <link rel="shortcut icon" href="./assets/Mashiro.jpeg" type="image/x-icon">
    <title>Starter HTML and Tailwindcss</title>
  </head>
  <body class="m-auto h-screen w-[90%] dark:bg-slate-900 dark:text-white">
    <section class="flex h-screen flex-col items-center justify-center text-center">
      <figure>
        <img class="w-[200px]" src="./assets/tailwind-css-icon.png" alt="" />
      </figure>
      <article class="mt-16">
        <h1 class="text-4xl">Starter Html + Tailwindcss</h1>
        <p class="mt-4 tracking-wider">Edit file in <code class="text-red-600">./index.html</code></p>
        <p class="mt-2 block text-sm italic">
          Check Repo Github
          <a href="https://github.com/Marineux/cli-template-doc" class="text-gray-400 underline">Marineux❤</a>
        </p>
      </article>
    </section>

    <script src="./js/index.js"></script>
  </body>
</html>
